tehtavat/viikko2/maksukortti/.pytest_cache
tehtavat/viikko2/maksukortti/htmlcov
tehtavat/viikko2/maksukortti/.coverage
tehtavat/viikko2/unicafe/.pytest_cache
tehtavat/viikko2/unicafe/htmlcov
tehtavat/viikko2/unicafe/.coverage
.pytest_cache
htmlcov
.coverage
.vscode
src/entities/__pycache__
src/tests/__pycache__
src/ui/__pycache__
src/ui/views/__pycache__
src/ui/components/__pycache__
src/services/__pycache__
src/repositories/__pycache__
save.dat