viikko2/maksukortti/.pytest_cache
viikko2/maksukortti/htmlcov
viikko2/maksukortti/.coverage
viikko2/unicafe/.pytest_cache
viikko2/unicafe/htmlcov
viikko2/unicafe/.coverage
videopokeri/.pytest_cache
videopokeri/htmlcov
videopokeri/.coverage
videopokeri/.vscode
videopokeri/entities/__pycache__
videopokeri/tests/__pycache__
videopokeri/ui/__pycache__